*.DS_Store
*.class

# Package Files
*.jar
*.war
*.ear

# Xtext
Xtext/.metadata/*
Xtext/de.htwg.scaltex.dsl.tests/src-gen/*
Xtext/de.htwg.scaltex.dsl.ui/src-gen/*
Xtext/de.htwg.scaltex.dsl/src-gen/*
Xtext/de.htwg.scaltex.dsl.tests/xtend-gen/*
Xtext/de.htwg.scaltex.dsl/bin/*
Xtext/de.htwg.scaltex.dsl.tests/bin/*
Xtext/de.htwg.scaltex.dsl.ui/bin/*
Xtext/de.htwg.scaltex.dsl/xtend-gen/*

runtime-EclipseXtext/*


# Scala
Scala/project/*
Scala/target/*
